In [1]:
# Import necessary modules
import data_preprocessor as dp
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# 1. Load and examine the dataset
messy_data = pd.read_csv('../Data/messy_data.csv')
clean_data = messy_data.copy()
messy_data.head()
messy_data.info()
messy_data.describe()

# 2. Preprocess the data
clean_data = dp.impute_missing_values(clean_data, strategy='mean')
clean_data = dp.remove_duplicates(clean_data)
clean_data = dp.normalize_data(clean_data)
clean_data = dp.remove_redundant_features(clean_data)

# 3. Save the cleaned dataset
clean_data.to_csv('../Data/clean_data.csv', index=False)
clean_data = pd.read_csv('../Data/clean_data.csv')


# 4. Train and evaluate the model
dp.simple_model(input_data=clean_data, print_report=True, threshold=0.5)

# Comparision to the previous data
clean_data.head()
clean_data.info()
clean_data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1196 entries, 0 to 1195
Data columns (total 28 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   target  920 non-null    float64
 1   a       1193 non-null   object
 2   b       1196 non-null   float64
 3   c       1196 non-null   int64
 4   d       561 non-null    object
 5   e       1196 non-null   object
 6   f       1196 non-null   float64
 7   g       1196 non-null   object
 8   h       1158 non-null   float64
 9   i       1087 non-null   object
 10  j       591 non-null    float64
 11  k       1196 non-null   float64
 12  l       1196 non-null   float64
 13  m       778 non-null    object
 14  n       1012 non-null   float64
 15  o       1008 non-null   float64
 16  p       1122 non-null   float64
 17  q       1009 non-null   float64
 18  r       1196 non-null   float64
 19  s       1196 non-null   object
 20  t       1110 non-null   float64
 21  u       1079 non-null   float64
 22  v       1116 non-null   float64
 23  w       1079 non-null   float64
 24  x       397 non-null    float64
 25  y       1196 non-null   float64
 26  z       598 non-null    float64
 27  {       1122 non-null   object
dtypes: float64(19), int64(1), object(8)
memory usage: 261.8+ KB
target    276
a           3
b           0
c           0
d         635
e           0
f           0
g           0
h          38
i         109
j         605
k           0
l           0
m         418
n         184
o         188
p          74
q         187
r           0
s           0
t          86
u         117
v          80
w         117
x         799
y           0
z         598
{          74
dtype: int64
Accuracy: 0.7791666666666667
Classification Report:
              precision    recall  f1-score   support

           0       0.69      0.63      0.66        82
           1       0.82      0.85      0.84       158

    accuracy                           0.78       240
   macro avg       0.76      0.74      0.75       240
weighted avg       0.78      0.78      0.78       240

Read more about the classification report: https://scikit-learn.org/stable/modules/generated/sklearn.metrics.classification_report.html and https://www.nb-data.com/p/breaking-down-the-classification
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1196 entries, 0 to 1195
Data columns (total 22 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   target  1196 non-null   float64
 1   a       1196 non-null   object
 2   b       1196 non-null   float64
 3   c       1196 non-null   float64
 4   d       1196 non-null   object
 5   e       1196 non-null   object
 6   f       1196 non-null   float64
 7   g       1196 non-null   object
 8   h       1196 non-null   float64
 9   i       1196 non-null   bool
 10  j       1196 non-null   float64
 11  k       1196 non-null   float64
 12  l       1196 non-null   float64
 13  m       1196 non-null   object
 14  n       1196 non-null   float64
 15  s       1196 non-null   object
 16  t       1196 non-null   float64
 17  v       1196 non-null   float64
 18  w       1196 non-null   float64
 19  x       1196 non-null   float64
 20  z       1196 non-null   float64
 21  {       1196 non-null   bool
dtypes: bool(2), float64(14), object(6)
memory usage: 189.3+ KB

/Users/why/Desktop/pythonProject/Project 2/BINF5507Project/Data-Wrangling/Assignment1/Scripts/data_preprocessor.py:30: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(data[col].mean(), inplace=True)
/Users/why/Desktop/pythonProject/Project 2/BINF5507Project/Data-Wrangling/Assignment1/Scripts/data_preprocessor.py:37: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(data[col].mode()[0], inplace=True)
/Users/why/Desktop/pythonProject/Project 2/BINF5507Project/Data-Wrangling/Assignment1/Scripts/data_preprocessor.py:37: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data[col].fillna(data[col].mode()[0], inplace=True)

,target,b,c,f,h,j,k,l,n,t,v,w,x,z
count,1196.000000,1196.000000,1196.000000,1196.000000,1196.000000,1196.000000,1196.000000,1196.000000,1196.000000,1196.000000,1196.000000,1196.000000,1196.000000,1196.000000
mean,0.553261,0.526566,0.518036,0.459278,0.332643,0.731068,0.470614,0.454950,0.687651,0.394574,0.661237,0.444626,0.222502,0.769270
std,0.436216,0.156540,0.194572,0.164679,0.179598,0.102394,0.048443,0.156389,0.156296,0.117923,0.091148,0.134697,0.177306,0.104610
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.415781,0.387755,0.355954,0.296849,0.731068,0.456476,0.353222,0.602107,0.295455,0.600000,0.365728,0.222502,0.769270
50%,0.553261,0.526602,0.530612,0.450593,0.369818,0.731068,0.470517,0.457102,0.687651,0.380682,0.650000,0.444626,0.222502,0.769270
75%,1.000000,0.639510,0.653061,0.571947,0.444859,0.765805,0.484036,0.561959,0.799732,0.465909,0.700000,0.524538,0.222502,0.806438
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000